/* Preloader.css */

.preloader {
  position: fixed;
  inset: 0;
  background: #f8f7f4;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  z-index: 9999;
}

.logo {
  width: fit-content;
}

.logo::after {
  content: "";
  position: absolute;
  top: -20%;
  left: -50%;
  width: 30%;
  height: 140%;
  background: linear-gradient(
    90deg,
    transparent,
    rgba(255, 255, 255, 0.9),
    transparent
  );
  transform: skewX(-20deg);
  animation: shine 2.5s ease-out infinite;
}

@keyframes shine {
  from {
    left: -50%;
  }

  to {
    left: 150%;
  }
}

.progress {
  width: 220px;
  height: 2px;
  background: #ddd;
  overflow: hidden;
}

.progress-fill {
  width: 0%;
  height: 100%;
  background: #931e16;
}

.percent {
  margin-top: 12px;
  color: #931e16;
}
